.footer {
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 0;
  margin: 0;
  background: #ff730d;
}

.text-center {
  text-align: center;
}

.main-container {
  width: 100%;
  height: 100%;
  background: #ff730d;
  z-index: 100;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  margin: auto;
}

.start {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.info {
  width: 60px;
  position: absolute;
  bottom: 35px;
  right: 10px;
  padding: 0;
  margin: 0;
  display: none;
  z-index: -50;
}
